/*----------------- Responsive ---------------------*/
@media (max-width: 1390px) {
	
	.container_footer{
		max-width: inherit; padding: 0 15px; width: auto;
	}
	footer.foot .insides_footer .tops_footer .blk_menuFooter h6{ font-size: 16px; }
	footer.foot .insides_footer .tops_footer .blk_menuFooter ul.list-unstyled li a{ font-size: 14px; }

}

@media (max-width: 1370px) {

	.container{
		max-width: inherit;
		width: auto;
		padding: 0 15px;
	}
	header.head .ins .tops .left_tp_header a{
		font-size: 13px;
		padding-left: 15px; padding-right: 15px;
		padding-top: 14px;
	}

}
/* macbook */
@media (max-width: 1280px){
	
	header.head .ins .tops .left_tp_header a{
		font-size: 13px;
		padding-left: 15px; padding-right: 15px;
		padding-top: 14px;
	}
	/* about */
	.lists_percense_aboutCn .items{
		padding: 0 0.5em;
	}
	.lists_data_defaults_lh.videos{}
	.lists_data_defaults_lh.videos .row.default{
		margin: 0px !important;
	}
	.lists_data_defaults_lh.videos .row.default>[class*=span], 
	.lists_data_defaults_lh.videos .row.default>[class*=col-xs], 
	.lists_data_defaults_lh.videos .row.default>[class*=col-md], 
	.lists_data_defaults_lh.videos .row.default>[class*=col-lg], 
	.lists_data_defaults_lh.videos .row.default>[class*=col-sm]{
		padding: 0px !important;
	}
	.lists_data_defaults_lh.videos .items{
		padding-left: 0.5em; padding-right: 0.5em;
	}
	.lists_data_defaults_lh.videos .items .picture{}
	.lists_data_defaults_lh.videos .items .picture iframe{
		width: 100% !important;
	}

}

@media (max-width: 1200px){
	.wrap-slide .camera_wrap{
		/*max-height: 454px !important;*/
	}

	.navbar{
		margin: 0;
	}

	.navbar-default{
		border: none;
		border-radius: 0px;
	}

	.navbar-default .navbar-brand{
		padding: 0px;
		/*padding-left: 20px;
		padding-top: 5px;*/
	}

}
/* Large desktop */
@media (max-width : 1135px){
	body { 
		width: 100%;
	}
	.container{
		width: 100%;
		border: none;
		/*padding: 0 15px;*/
	}
	.navbar{
		margin: 0;
	}

	.navbar-default{
		border: none;
		border-radius: 0px;
	}

	header.head .ins .tops .left_tp_header a{
		font-size: 11px;
	}
	header.head .ins .tops .rights_tp_headers .bsx-choose_region select.form-control{
		font-size: 12px;
	}
	header.head .ins .tops .rights_tp_headers .box_search_hdr form .form-group input{
		width: 190px;
	}
	header.head .top-menu > ul > li{
		padding-left: 10px; padding-right: 10px;
	}
	header.head .top-menu ul li a{
		font-size: 13px;
	}
	.outers_fcs_wrapper .carousel-caption .wrap_info_slide{
		max-width: 480px;
		margin-right: 0;
	}
	.outers_fcs_wrapper .carousel-caption .wrap_info_slide h3{
		font-size: 40px;
	}
	.outers_fcs_wrapper .carousel-caption .wrap_info_slide h6{
		font-size: 45px;
	}
	.outers_fcs_wrapper .carousel-caption .wrap_info_slide p{
		font-size: 15px;
	}
	section.default_sc#block_homesection1 .insides .lists_banner_home_d1 .items .info p{
		font-size: 16px;
	}
	section.default_sc#block_homesection1 .insides .lists_banner_home_d1 .items .info a.views_exBanner{
		font-size: 14px;
	}
	footer.foot .insides_footer .tops_footer .blk_menuFooter h6{
		font-size: 15px; padding-bottom: 12px;
	}
	footer.foot .insides_footer .tops_footer .blk_menuFooter ul.list-unstyled li a{
		font-size: 14px;
	}
	footer.foot .insides_footer .tops_footer .blk_menuFooter ul.list-unstyled li.dropdown ul.dropdown-menu li:first-child a{
		padding-top: 0;
	}
	

}

@media (max-width : 1002px) { 
	.container{
		width: 100%;
		border: none;
		padding: 0 15px;
	}
	.navbar{
		margin: 0;
	}
	.lists_banner_home_d1.default_banner-home{}
	.lists_banner_home_d1.default_banner-home .items{
		max-width: 320px;
		margin: 0 auto 1.2em;
	}

	.subpage_top_banner_illustration .info h2{
		font-size: 25px;
	}
	.subpage_top_banner_illustration .info h4{
		font-size: 37px;
	}
	.content-text p{
		font-size: 15px;
	}
	.lists_percense_aboutCn .items{
		padding-bottom: 2.5em;
	}
	.conts_vision .col-md-6{ min-height: inherit; }
	.conts_vision .col-md-6.bdr_rights{
		min-height: inherit;
		border-right: 0px;
		border-bottom: 1px solid #69950a;
		padding-bottom: 2em; margin-bottom: 2em;
	}
	.conts_vision .text{
		padding-top: 0;
	}
	section.bottom_vision_abouts{
		min-height: 300px; height: auto;
		padding-bottom: 2em;
		padding-top: 2.5em;
	}
	.middle_conts_1_inside .inside{
		padding-left: 0;
	}
	.conts_pServices .rights_cont{
		padding-top: 3.5em;
	}
	.lists_data_defaults_lh.videos{}
	.lists_data_defaults_lh.videos .row.default{
		margin: 0px !important;
	}
	.lists_data_defaults_lh.videos .row.default>[class*=span], 
	.lists_data_defaults_lh.videos .row.default>[class*=col-xs], 
	.lists_data_defaults_lh.videos .row.default>[class*=col-md], 
	.lists_data_defaults_lh.videos .row.default>[class*=col-lg], 
	.lists_data_defaults_lh.videos .row.default>[class*=col-sm]{
		padding: 0px !important;
	}
	.lists_data_defaults_lh.videos .items{
		padding-left: 0.5em; padding-right: 0.5em;
	}
	.lists_data_defaults_lh.videos .items .picture{}
	.lists_data_defaults_lh.videos .items .picture iframe{
		width: 100% !important;
	}
	
	footer.foot .insides_footer .tops_footer .blk_menuFooter ul.list-unstyled,
	.blk_menuFooter ul{
		margin-bottom: 2.2em;
	}
	footer.foot .insides_footer .tops_footer .blk_menuFooter h6{ padding-bottom: 10px; }
	.blk_menuFooter {
		max-width: 600px; margin: 0 auto;
	}

}

@media (max-width : 991px) { 

	.navbar-default {
		background-color: #000;
		border-color: #000;
	}

	.navbar-default .navbar-brand{
		margin: 0px;
	}
	.lgo_footers img,
	.lgo_footers{
		display: block;
		margin: 0 auto; text-align: center;
	}
	.lgo_footers{
		margin-bottom: 2em;
	}
	footer.foot .container_footer{
		max-width: inherit; width: auto;
		padding: 0 15px;
	}
	footer.foot .blk_menuFooter ul.dropdown-menu,
	footer.foot .blk_menuFooter ul{
		float: none !important;
	}
	footer.foot .t-copyrights{
		text-align: center;
	}
	footer.foot .insides_footer .btms_mnfooter{
		display: block;
		padding-right: 0;
		padding-bottom: 10px; text-align: center;
	}
	footer.foot .insides_footer .socmed_footer{
		display: block; text-align: center;
	}
	.outers_fcs_wrapper .carousel-caption .wrap_info_slide{
		max-width: 550px; text-align: center;
		margin: 0 auto; float: none;
	}

	.conts_pServices.landing_prd .rights_cont{
		border-left: 1px dotted #ccc;
		padding-left: 26px;
		padding-top: 0;
	}
	.conts_pServices .rights_cont{
		border-left: 0px;
		padding-left: 0px;
		border-bottom: 0; border-left: 0;
		margin-top: 0em;
	}
	.conts_pServices.cont_pProduct{
		padding-left: 0;
	}
	.conts_pServices.cont_pProduct .tops_landing_products .block_pict{
		min-width: inherit; width: 100%;
	}
	.conts_pServices.cont_pProduct .tops_landing_products{
		height: auto; min-height: inherit;
	}
	.conts_pServices.cont_pProduct .tops_landing_products .block_pict{
		width: 100%;
		position: relative;
		top: inherit; left: inherit;
		background-size: cover;
	}
	.conts_pServices.cont_pProduct .tops_landing_products .info{
		max-width: inherit;
		padding: 25px 30px 15px;
	}

}


@media (max-width: 992px) {

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

    header.head .navbar-default{
    	background-color: #fff;
    	border-color: #fff;
    	padding: 0px 0;
    }
    .navbar-default .navbar-brand{
    	max-width: 155px;
    	padding-top: 12px;
    	padding-bottom: 12px;
    	padding-left: 15px;
    }
    .navbar-default .navbar-toggle{
    	border-color: transparent;
    	border-radius: 0px;
    	margin-top: 17px;
    }
    .navbar-default .navbar-toggle:hover, 
    .navbar-default .navbar-toggle:focus {
	    background-color: rgba(204, 204, 204, 0.2);
	}
	.navbar-default .navbar-toggle .icon-bar {
	    background-color: #000;
	}
	
	.navbar-nav.navbar-right:last-child{
		margin-right: 0;
	}
	header.head .navbar-nav{}
	header.head .navbar-nav li{
		border-bottom: 1px solid #ccc;
	}

	header.head .navbar-nav li a{
		color: #919191;
		font-size: 14px;
		font-weight: 500;
		text-decoration: none;
		text-transform: uppercase;
	}
	.navbar-default .navbar-nav > .active > a, 
	.navbar-default .navbar-nav > .active > a:hover, 
	.navbar-default .navbar-nav > .active > a:focus {
	    color: #555;
	    background-color: rgba(231, 231, 231, 0.15);
	}
	header.head .navbar-nav li:hover > .dropdown-menu{
		display: block;
	}
	.navbar-nav > li > .dropdown-menu{
		display: none;
		position: relative;
		top: inherit;
		left: inherit;
		right: inherit;
		float: none;
		box-shadow: none;
		border: 0px;
		min-width: inherit;
		border-radius: 0px;
	}
	.navbar-nav > li > .dropdown-menu > li{
		border-top: 1px solid #ccc;
		border-bottom: 0;
		padding: 4px 0;
	}
	.navbar-nav > li > .dropdown-menu > li > a{
		color: #919191;
		font-size: 13px;
		font-weight: 500;
		text-decoration: none;
		text-transform: uppercase;
	}
	header.head .navbar-collapse{
		max-height: inherit;
	}

    header.head .navbar-default .bloc_warranty_reg{
    	margin-bottom: 10px;
    }
    header.head .navbar-default .bloc_warranty_reg a{
    	display: inline-block;
    	padding: 5px 25px;
    	font-size: 13px; font-weight: 700; color: #fff;
    	margin-bottom: 6px;
    }
    header.head .navbar-default .bloc_warranty_reg a.first{
    	background-color: #6190dd;
    }
    header.head .navbar-default .bloc_warranty_reg a.second{
    	background-color: #4278d1;
    }
    header.head .navbar-default .bloc_warranty_reg a.third{
    	background-color: #2c65c3;
    }

    header.head .navbar-default .bsx-choose_region{
    	margin-bottom: 12px;
    	padding-bottom: 12px;
    }
    header.head .navbar-default .bsx-choose_region select.form-control{
    	display: inline-block;
        background: none; background-color: transparent;
        box-shadow: none; border: 0px;  box-shadow: none;
        border-radius: 0px;
        background-color: #2c65c3;

        font-size: 14px; font-weight: 600; color: #fff;
    }
    header.head .navbar-default .bxn_right_language{
          padding-left: 23px;
          display: inline-block;
          padding-top: 13px;
          font-size: 13px; font-weight: 600; color: #777;
          line-height: 1; text-decoration: none;
          
        }
    header.head .navbar-default .bxn_right_language a{
        font-size: 14px; font-weight: 600; color: #777;
        line-height: 1; text-decoration: none;
      }
  header.head .navbar-default .bxn_right_language a.active,
  header.head .navbar-default .bxn_right_language a:hover{
        text-decoration: none; color: #2c65c3;
      }

}

@media (max-width: 979px) {
	

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

	header.head{
		height: auto;
	}
	.navbar-default .navbar-nav > li > a {

	}

}
	
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

	header.head{
		height: auto;
	}

	footer [class*="col-md"]{
		text-align: center;
	}

	.navbar-nav > li{
		float: none;
	}

	.outers_fcs_wrapper .carousel-caption{
		position: relative;
		left: inherit; right: inherit;
		top: inherit; bottom: inherit;
		width: 100%;
	}
	.outers_fcs_wrapper .blocks_ts_fcs{
		width: 100%; height: auto;
		padding: 15px 20px 15px;
	}
	.outers_fcs_wrapper{
		box-shadow: none; max-height: inherit;
	}
	.outers_fcs_wrapper .blocks_ts_fcs p{
		font-size: 18px;
	}

	.outers_fcs_wrapper .carousel-caption .wrap_info_slide{
		background-color: #f5f5f5;
		padding: 3em 15px;
	}
	.outers_fcs_wrapper .carousel-caption .container{
		padding: 0px;
	}
	.outers_fcs_wrapper .carousel-caption .wrap_info_slide h3{
		font-size: 30px;
	}
	.outers_fcs_wrapper .carousel-caption .wrap_info_slide h6{
		font-size: 33px;
	}
	.outers_fcs_wrapper ol.carousel-indicators{
		left: 43%; bottom: 10px;
	}
	section.default_sc#block_homesection1 .insides .lists_banner_home_d1.default_banner-home .items{
		max-width: inherit;
	}
	footer.foot .insides_footer .btms_mnfooter a{
		font-size: 10px;
	}
	.middle_conts_1_inside .inside{
		padding-left: 0;
	}
	.lists_percense_aboutCn .items,
	.lists_percense_aboutCn .leftsn_p{
		max-width: inherit;
	}
	.lists_percense_aboutCn .items .pict img{ width: 100%; }
	.conts_vision .text{
		padding-left: 15px; padding-right: 15px;
	}

	.conts_pServices .rights_cont{
		padding-left: 0;
		border-left: 0; border-right: 0;
		padding-top: 3.5em;
	}
	.lists_bloc_landing_prdItems .items .info{
		width: 50%;
	}
	.conts_pServices.cont_pProduct .tops_landing_products .block_pict{
		background-position: top right;
	}
	.conts_pServices.cont_pProduct .middles_products .rights_c .lists_sub_products table.table thead tr th{
		vertical-align: top; font-size: 13px;
	}
	.block_detail_products .description{
		padding-left: 0;
		padding-top: 1.5em;
	}
	.block_detail_products .description .bottoms_desc ul.nav.nav-tabs li a{
		font-size: 10px;
		padding-left: 7px; padding-right: 7px;
	}
	.block_detail_products .description .bottoms_desc ul.nav.nav-tabs li{
		width: 23%;
	}
	.lists_data_service .items .descriptions_bottom.fading p,
	.lists_data_service .items p{
		font-size: 14px;
	}
	.content-text.conts_pFindExpert .blocksn_form_filter form .form-group{
		margin-right: 0;
	}
	.content-text.conts_pFindExpert .blocksn_form_filter form .form-group input, 
	.content-text.conts_pFindExpert .blocksn_form_filter form .form-group select{
		width: 100%;
	}
	.lists_data_defaults_lh.videos .items .info p{
		font-size: 12px;
	}
	.lists_data_defaults_lh .items, .lists_data_defaults_lh.videos .items{
		min-height: 250px;
	}
	section.default_sc#block_homesection1 .insides .lists_banner_home_d1 .col-md-4:last-child .items,
	section.default_sc#block_homesection1 .insides .lists_banner_home_d1 .items{
		border-left: 5px solid #fff;
		border-right: 5px solid #fff;
	}
	footer.foot .insides_footer .tops_footer .blk_menuFooter ul.blocks_listprod>li{
		width: 100%;
		margin-bottom: 1em;
	}
	.subpage_top_banner_illustration .info h4{ color: #000; }
	.subpage_top_banner_illustration .info h2{ color: #134392; }
	.conts_pServices.landing_prd .rights_cont{
		padding-left: 0;
	}
	.lists_bloc_landing_prdItems .items .info{
		width: auto;
	}
	footer.foot .insides_footer .tops_footer .blk_menuFooter ul.list-unstyled{
		margin-bottom: 1.5em;
	}
	footer.foot .t-copyrights small{ font-size: 9px; }
	.conts_pContact .rights_cont p{
		font-size: 18px;
	}

	.pg_searchs_product .rights_cont{
		min-height: inherit; min-height: 50px; height: auto;
	}
	.content-text.conts_pDealer .boxs_grey img,
	.content-text.conts_pDealer .boxs_grey .rights{
		padding-left: 0;
		padding: 0;
	}
	.content-text.conts_pDealer .boxs_grey .rights{
		padding-top: 20px;
	}
	.content-text.conts_pDealer .boxs_grey .rights p{
		text-align: justify;
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 600px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {

}