section.backs_covr_checkgenuine{
	background: url('../images/backs-cvr.jpg') no-repeat;
	padding: 7.5rem 0;
	font-family: Arial, sans-serif;
	.inners_section{
		font-family: Arial, sans-serif;
		p{
			font-family: Arial, sans-serif;
		}
		display: block;
		margin: 0 auto;
		max-width: 490px;
		background-color: #fff;
		padding: 2.5rem 1.7rem;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		text-align: center;
		h2{
			b,strong{
				font-size: 29px;
				font-weight: 800;
				color: #152c73;
				}
			font-size: 18px;
			font-weight: 400;
			color: #152c73;
			display: block;
			margin: 0;
			line-height: 1.2;
			margin-bottom: 0.7rem;
		}
		p{
			font-size: 14px;
			font-weight: 400;
			color: #000;
		}
	}
	
	.ins_form{
		form{
			display: block;
			max-width: 380px;
			margin: 1.5rem auto;
			.form-group.bx_input{
				// max-width: 295px;
				max-width: 270px;
				display: block;
				margin: 0 auto;
				.sx_icon{
					position: absolute;
					right: -35px;
					top: 0px;
					z-index: 1;

					span{
						display: inline-block;
						vertical-align: middle;
						width: 32px;
						height: 32px;
					}
					span.successl{
						background: url('../images/icn-btn_check.png') no-repeat;
					}
					span.closetimes{
						background: url('../images/icn-btn_wrong.png') no-repeat;
					}
				}

			}
			.form-group{
				margin-bottom: 0.45rem;
				input{
					text-align: center;
					border-width: 2px;
				}
				button{
					position: absolute;
					top: 0px; right: 0px;
					z-index: 2;

					color: #fff;
					font-size: 13px;
					font-weight: 400;
					text-align: center;
					background-color: #152c73;
					padding: 4px 8px;
					margin-top: 3px;
					margin-right: 4px;
				}
				position: relative;
			}
			.form-group.warning{
				input{
					border-color: #ec0000;
				}
			}
			.form-group.success{
				input{
					border-color: #1EC907;
				}
			}
			p.success,
			p.warning{
				font-size: 13.5px;
				font-weight: 400;
    			// background: #ec0000;
				color: #000;
				margin: 10px 0 0;
				padding: 0.5rem;
				span.red{
					color: #ec0000;
				}
			}
			p.warning{
				color: #ec0000;
			}
			p.success{
				font-size: 13.5px;
    			// background: #529c48;
				color: #000;
				span.red{
					color: #ec0000;
				}
			}
		}
	}

	clear: both;
	
	a.btn.p-0{
		padding: 0px !important;
		text-decoration: none;
		color: #0b1d54;
		font-weight: 500;
	}
}


.ndx_blocks{
	.items_lin{
		.dn_icon{
			max-width: 25px;
		}
		.dn_texts{
			p{
				font-size: 11px;
				font-weight: 400;
				color: #000;
				text-align: left;
				a{
					color: #000;
					text-decoration: none;
				}
			}
			padding-left: 6px;
		}

		display: inline-block;
		vertical-align: middle;
		padding: 0 0.7rem;
		clear: both;
	}
	clear: both;
}

.d-inline{
	display: inline-block;
	vertical-align: top;
}